<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.HelloOracleMapper">

<select id="helloOracle" resultType="com.example.demo.entity.Example">
 select * from example
</select>
</mapper>